dpm-el-rate/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="el-getRateSummaryFlow" doc:id="89f5d312-1783-49d5-a5e0-3f434e5e0675" >
		<logger level="INFO" doc:name="Logger" doc:id="7205313b-c104-42c1-92cc-424778819133" message='Calling PL' />
		<logger level="INFO" doc:name="Logger" doc:id="b79e2731-bac4-47a2-ab88-38474b5e3fdc" message='#[output application/java&#10;---&#10;&#10;"Username: " ++ Mule::p("secure::example.username") &#10;++ "-" ++&#10;"Password: " ++ Mule::p("secure::example.password")]'/>
		<http:request method="GET" doc:name="RequestToPL" doc:id="66e3d1dd-ff62-4bf2-bf54-99904867d0cd" config-ref="HTTP_Request_configuration" path="/exchange-rate-summary">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"endDate" : attributes.queryParams.endDate,
	"startDate" : attributes.queryParams.startDate,
	"seriesNames" : attributes.queryParams.seriesNames,
	"format" : attributes.queryParams.format
}]]]></http:query-params>
		
</http:request>
	</flow>
	<flow name="el-getCompareRates" doc:id="444b8375-ca03-4b31-b76d-0829817718e6" >
		<flow-ref doc:name="Flow Reference" doc:id="6a79334f-fc2d-4cf7-8cb3-5c896dc72d7c" name="el-getRateSummaryFlow"/>
	</flow>
</mule>
